.App {
  font-family: sans-serif;
  text-align: center;
}

.otp-input {
  height: 30px;
  margin: 2px;
  width: 30px;
  font-size: 20px;
  text-align: center;
}

.otp-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.button {
  background-color: orangered;
  color: white;
  width: 80px;
  height: 30px;
}
